@font-face {
    font-family: "Khmer OS";
    font-style:  normal;
    font-weight: normal;
    font-size: 14pt;
    src: url(KHMEROS0.eot);
    src: local("☺"),
      url(KhmerOS.ttf) format('truetype');
}

@font-face {
  font-family: Hanuman;
  font-style: normal;
  font-weight: normal;
  src: local("☺"),
    url(Hanuman.ttf) format('truetype'),
    url('http://themes.googleusercontent.com/font?kit=r19pdQKU01vNMZlSCum2Ag') format('woff');
}


@font-face {
    font-family: "Kaoh Kong";
    font-style:  normal;
    font-weight: normal;
    font-size: 14pt;
    src: url(KAOHKON0.eot);
}

